<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @invite.invite_status.status %>
</p>

<p>
  <b>Position:</b>
  <%= @invite.position.friend.twitter_handle %>
</p>

<p>
  <b>Event:</b>
  <%= @invite.event.date %>
</p>


<%= link_to 'Edit', edit_invite_path(@invite) %> |
<%= link_to 'Back', invites_path %>
