<p id="notice"><%= notice %></p>
<div class="hero-unit">
	<div class="row">
		<div class="span10">
			<h1>Hey there <%= @invite.position.friend.twitter_handle %>!</h1>
			<p>Willis has invited you out to <%= @invite.event.title %></p>
			<div class="row">
				<div class="span4">
					<%= gmaps("map_options" => {"zoom" => 15, "auto_zoom" => false, "mapTypeControl" => false}, "markers" => { "data" => @json }) %>
				</div>
				<div class="span6">
					<p><%= @invite.event.address %></p>
					<p><%= @invite.event.city %>, <%= @invite.event.state %></p>
					<h3>Will you be there?</h3>
					<div class="row">
						<div class="span1">
							<%= form_for @invite, :method => :put do |f| %>
							  <%= f.hidden_field :invite_status_id, :value => 2 %>
							  <%= f.submit "Yes", :class => "btn btn-success btn-large" %>
							<% end %>
						</div>
						<div class="span1">
							<%= form_for @invite, :method => :put do |f| %>
							  <%= f.hidden_field :invite_status_id, :value => 3 %>
							  <%= f.submit "No", :class => "btn btn-danger btn-large" %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
