<p id="notice"><%= notice %></p>
<div class="hero-unit">
	<div class="row">
		<div class="span10">
			<h1>Hey there <%= @invite.position.friend.twitter_handle %>!</h1>
			<p>Willis has invited you out to <%= @invite.event.title %></p>
			<div class="row">
				<div class="span4">
					<%= gmaps("map_options" => {"zoom" => 15, "auto_zoom" => false, "mapTypeControl" => false}, "markers" => { "data" => @json }) %>
				</div>
				<div class="span6">
					<p><%= @invite.event.address %></p>
					<p><%= @invite.event.city %>, <%= @invite.event.state %></p>
					<%= render 'attending' %>
				</div>
			</div>
		</div>
	</div>
</div>
