<%= twitter_bootstrap_form_for(@position) do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% @position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :friend_id %><br />
    <%= f.collection_select(:friend_id, :friend_id, Friend.all, :id, :twitter_handle) %>
  </div>
  <div class="field">
    <%= f.label :archive %><br />
    <%= f.check_box :archive %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
