<%= render 'shared/leftnav' %>
<div class="span10">
	<h1>People I want to catch up with</h1>
	
	<table class="table">
	  <tr>
	    <th>Friend</th>
	    <th>Archive</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	
	<% @positions.each do |position| %>
	  <tr>
	    <td><%= position.friend.twitter_handle %></td>
	    <td><%= position.archive %></td>
	    <td><%= link_to 'Show', position %></td>
	    <td><%= link_to 'Edit', edit_position_path(position) %></td>
	    <td><%= link_to 'Destroy', position, confirm: 'Are you sure?', method: :delete %></td>
	  </tr>
	<% end %>
	</table>
	
	<br />
	
	<%= link_to 'New Position', new_position_path %>
</div>
