<p id="notice"><%= notice %></p>

<p>
  <b>Friend:</b>
  <%= @position.friend_id %>
</p>

<p>
  <b>Archive:</b>
  <%= @position.archive %>
</p>


<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
