<p id="notice"><%= notice %></p>
<div class="hero-unit">
	<div class="row">
		<div class="span10">
			<h2><%= @event.title %></h2>
			<div class="row">
				<div class="span4">
					<%= gmaps("map_options" => {"zoom" => 15, "auto_zoom" => false, "mapTypeControl" => false}, "markers" => { "data" => @json }) %>
				</div>
				<%= render 'future_show' unless @event.date < Time.now %>
				<%= render 'past_show' unless @event.date > Time.now %>
			</div>
		</div>
	</div>
</div>


