<p id="notice"><%= notice %></p>
<%= gmaps("map_options" => {"zoom" => 15, "auto_zoom" => false, "mapTypeControl" => false}, "markers" => { "data" => @json }) %>
<p>
  <b>Date:</b>
  <%= @event.date.strftime("%A %B, %d") %> at <%= @event.date.strftime("%l:%M %P") %>
</p>

<p>
  <b>Address:</b>
  <%= @event.address %>
</p>

<p>
  <b>City:</b>
  <%= @event.city %>
</p>

<p>
  <b>State:</b>
  <%= @event.state %>
</p>

<p>
  <b>Type:</b>
  <%= @event.event_tag.tag %>
</p>

<p>
  <b>Status:</b>
  <%= @event.event_status.status %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
